.thumbnail {
    visibility: hidden;
    opacity: 0;
    bottom: 120%;
    /* transition: 1s; */
    transition: all .5s ease-in-out;
}

.menu-img:hover+.thumbnail {
    bottom: 100%;
    visibility: visible;
    opacity: 1;
}